<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" routerLink="/">O</a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="shoping-cart">Shoping Cart</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-expanded="false">Username</a>
              <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" ngbDropdownItem routerLink="my-orders">My Order</a>
                <a class="dropdown-item" ngbDropdownItem routerLink="admin/admin-orders">Manage Order</a>
                <a class="dropdown-item" ngbDropdownItem routerLink="admin/admin-products">Manage Products</a>
                <a class="dropdown-item" ngbDropdownItem>Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
</div>